// regex for read files and path to folder containing read files
params.reads = "/path/to/reads/*_L001_R{1,2}_001.fastq.gz"
params.bams = "[!*]"
params.ref = "/path/to/reference/SARS-CoV2.fa"
params.outdir = "/path/to/outdir"
// path to adapter files on cluster
params.adapters = "/usr/local/apps/trimmomatic/Trimmomatic-0.36/adapters/NexteraPE-PE.fa"
// sequencing platform
params.pl = "illumina"
params.pm = "miseq"
params.fcid = "000000000-CP3RN"
// regex for how file are named coming off the sequencer
params.grouping_regex = "-[AB]_S\\d+"
params.primers_a = "static/primers/primers_A.fa"
params.primers_b = "static/primers/primers_B.fa"
params.primers_c = "static/primers/primers_C.fa" // only if needed
params.primers_d = "static/primers/primers_D.fa" // only if needed

// Illumina regex for finding read pairs
params.read_pair_regex = "_L00[1234]_R[12]_001"

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Slurm settings - change if executor is not slurm
process.executor = 'slurm'
process.cpus = 10
process.memory = '32 GB'
process.time = '30 min'
